# Disable wake from ASMedia ASM4242 USB4/Thunderbolt controller
# Install to: /etc/udev/rules.d/90-disable-usb4-wake.rules
#
# Reason: This controller triggers spurious wake events even with nothing
# connected, causing the system to wake immediately after entering suspend.
# Device: ASMedia ASM4242 (vendor 0x1b21, device 0x2425) at PCI 0000:71:00.0

ACTION=="add", SUBSYSTEM=="pci", ATTR{vendor}=="0x1b21", ATTR{device}=="0x2425", ATTR{power/wakeup}="disabled"
